.wrapper {
  display: block;
  margin: 6px auto;
  width: 50px;

  .spinner {
    animation: spinner 1.2s linear infinite;
    font-size: 30px;
    color: brown;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
