@import "../../../../assets/sass/mixin.scss";

.sidebar_list {
  .sidebar_seeAll {
    color: rgb(254, 44, 85);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .account_title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-gray);
    font-weight: 600;
    padding: 0 10px;
  }
}

.hr {
  color: grayx3;
  opacity: 0.1;
  margin: 15px 0;
  padding: 0 10px !important;
}

@include w1100 {
  .account_title, .sidebar_seeAll {
    display: none;
  }

  .hr {
    width: 30px;
    margin: 10px 0 !important;
  }
}
