@import "../../assets/sass/mixin.scss";

.sidebar {
  flex-shrink: 0;
  padding: 16px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // width: 348px;
  max-width: 100%;
  padding-left: 10px;

  ::-webkit-scrollbar-thumb {
    visibility: hidden !important;
    background: rgba(22, 24, 35, 0.06);
  }

  &:hover {
    ::-webkit-scrollbar-thumb {
      visibility: visible !important;
    }
  }

  .hr {
    color: grayx3;
    opacity: 0.1;
    margin: 15px 0;
    padding: 0 10px !important;
    margin-left: 10px;
  }

  .sidebar_scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 80px;
    bottom: 0;
    // background: var(--white);
    position: fixed;
    z-index: 9;
    max-width: 348px;
    padding-bottom: 15px;

    .sidebar_login {
      position: relative;
      padding: 8px 8px 8px 8px;
      margin: 0;

      .login_tip {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        line-height: 22px;
        display: flex;
      }

      .button_login {
        margin-top: 20px;
      }
    }
  }
}

.contact {
  padding-left: 10px;

  .facebook {
    color: red !important;
    font-size: 18px;
    font-weight: 600;
  }
}

@include w1100 {
  .contact,
  .sidebar_login_wrapper {
    display: none;
  }

  .sidebar {
    padding: 0 8px;
    width: 72px;
    flex: 0 0 72px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    margin-bottom: -22px;
  }

  .hr {
    width: 30px;
    margin: 10px 0 !important;
  }

  .sidebar_scrollbar {
    background: none;
  }
}
