.navbar {
  width: 100%;
  height: var(--default-layout-navbar-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--white);

  .navbar_wrapper {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .navbar_logo {
      padding: 0 10px;
    }

    .navbar_search {
      align-items: center;
      padding: 0 16px;
      background: var(--grayx2);
      border-radius: 92px;
      position: relative;
      margin: 8px 20px;
      display: flex;
      caret-color: var(--red);

      &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
      }

      .navbar_search_input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        background: transparent;
        width: 300px;
        padding: 12px 8px;
      }

      .navbar_search_icon {
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;
        cursor: pointer;
        background: transparent;
        margin-left: 0;
        color: rgba(22, 24, 35, 0.34);
        font-size: 18px;

        &:hover {
          background: var(--gray);
          border-top-right-radius: 92px;
          border-bottom-right-radius: 92px;
        }
      }

      .navbar_search_line {
        width: 1px;
        height: 28px;
        margin: -3px 0 -3px 0;
        background: var(--grayx3);
      }
    }

    .navbar_right {
      margin: auto 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu_action {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 28px;
        cursor: pointer;
      }

      .dropdown_icon {
        height: 30px;
        border-radius: 50%;
        margin-left: 28px;
        cursor: pointer;
        display: flex;
      }

      .dropdown_avatar {
        border-radius: 50%;
        margin-left: 28px;
        cursor: pointer;
        display: flex;
      }
    }

    .hr {
      color: grayx3;
      opacity: 0.1;
      padding: 0 10px !important;
    }

    .search_results {
      width: 365px;

      .search_title {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        color: var(--text-gray);
        font-weight: 600;
        padding: 0 10px;
      }
    }
  }
}
