.wrapper {
  position: fixed;
  inset: 0px;
  background: rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  flex-direction: row;

  .video_container {
    flex: 1 1 896px;
    background: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 0px 80px;

    .blur {
      position: absolute;
      width: 10%;
      height: 10%;
      filter: blur(2px);
      left: 50%;
      top: 50%;
      transform: scale(11);
      opacity: 0.3;
      background: center center / cover no-repeat;
    }

    .video_wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      .video {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: rgba(22, 24, 35, 0.06);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;

        video {
          display: block;
          max-width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
