.defaultLayout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;

    .content {
      margin-right: 16px;
      margin-left: 16px;
      width: 692px;
      max-width: 692px;
      padding: 24px 0;
      position: relative;
    }
  }
}
