.sidebar {
  flex-shrink: 0;
  padding: 16px 0 26px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 348px;
  padding-left: 10px;

  &:hover {
    ::-webkit-scrollbar-thumb {
      background: rgba(22, 24, 35, 0.06);
      visibility: visible;
    }
  }

  .sidebar-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 80px;
    bottom: 0;
    background: var(--white);
    position: fixed;
    z-index: 9;
    max-width: 348px;

    .sidebar-tabs {
      .sidebar-tab {
        display: flex;
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 5px;
        color: var(--black);

        &:hover {
          background-color: var(--gray);
        }

        .sidebar-icon {
          font-size: 24px;
        }

        .sidebar-title {
          font-weight: 700;
          line-height: 25px;
          font-size: 18px;
          margin-left: 10px;
        }
      }

      .sidebar-active {
        color: var(--red);
      }
    }

    .sidebar-login {
      position: relative;
      padding: 8px 8px 42px 8px;
      margin: 0;

      .login-tip {
        color: rgba(22, 24, 35, 0.5);
        font-size: 16px;
        line-height: 22px;
      }
    }

    .sidebar-list {
      .sidebar-seeAll {
        color: rgb(254, 44, 85);
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 15px;
        padding-left: 10px;
      }
    }
  }
}

.hr {
  margin-top: 10px;
}
