.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  width: 348px;
  // padding-right: 100px;

  .sidebar__tabs {
    .sidebar__tab {
      display: flex;
      // align-items: center;
      margin-bottom: 25px;

      .sidebar__icon {
        font-size: 24px;
      }

      .sidebar__title {
        font-weight: 700;
        line-height: 25px;
        font-size: 18px;
        margin-left: 10px;
      }

      .sidebar__active {
        color: rgba(254, 44, 85, 1);
      }
    }
  }

  .hr {
    color: gray;
    opacity: 0.1;
    margin-bottom: 20px;
  }

  .sidebar__list {
    .sidebar__title {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 20px;
      color: rgba(22, 24, 35, 0.75);
      font-weight: 600;
    }

    .sidebar__item {
      padding: 8px 0;
      display: flex;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      border-radius: 4px;
      transition: background 200ms ease-in-out 0s;
      cursor: pointer;

      .sidebar__item__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .sidebar__item__name {
        color: rgb(22, 24, 35);
        font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC,
          sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-top: -2px;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .sidebar__seeAll {
      color: rgb(254, 44, 85);
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }
}
