.navbar {
  width: 100%;
  height: var(--default-layout-navbar-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--white);

  .navbar_wrapper {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .navbar_logo {
      padding: 0 10px;
    }

    .navbar_search {
      align-items: center;
      padding: 0 16px;
      background: var(--grayx2);
      border-radius: 92px;
      position: relative;
      margin: 8px 20px;
      display: flex;
      caret-color: var(__red);

      &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
      }

      .navbar_search_input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        background: transparent;
        width: 300px;
        padding: 12px 8px;
      }

      .navbar_search_icon {
        padding: 11px 16px 11px 12px;
        margin: -12px -16px;
        cursor: pointer;
        background: transparent;
        margin-left: 0;
        color: rgba(22, 24, 35, 0.34);
        font-size: 18px;

        &:hover {
          background: var(--gray);
          border-top-right-radius: 92px;
          border-bottom-right-radius: 92px;
        }
      }

      .navbar_search_line {
        width: 1px;
        height: 28px;
        margin: -3px 0 -3px 0;
        background: var(--grayx3);
      }
    }

    .navbar_right {
      margin: auto 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .navbar_right_action {
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 28px;
        }
      }

      .navbar_right_menu {
        &:hover {
          .narvbar_right_hover_content {
            display: block;
          }
        }
      }

      .narvbar_right_hover_content {
        display: none;

        .navbar_right_hover_arrow {
          display: block;
          position: absolute;
          width: 36px;
          height: 8px;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDM2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDhoNi42ODZhOCA4IDAgMCAwIDUuNjU3LTIuMzQzbDQuOTUtNC45NWExIDEgMCAwIDEgMS40MTQgMGw0Ljk1IDQuOTVBOCA4IDAgMCAwIDI5LjMxNCA4SDM2IDB6IiBmaWxsPSIjNTQ1NDU0IiBmaWxsLW9wYWNpdHk9Ii45MiIvPjwvc3ZnPg==);
          margin-top: 5px;
          margin-left: -8px;
        }

        .navbar_right_hover_inner {
          margin-top: 13px;
          margin-left: -30px;
          position: absolute;
          text-decoration: none;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          background-color: var(--grayx4);
          color: var(--white);
          padding: 8px;
        }
      }

      .navbar_right_dropdown {
        &:hover {
          .navbar_right_dropdown_inner {
            display: block;
          }
        }

        .navbar_right_dropdown_icon {
          padding: 0 4px;
          font-size: 28px;
          display: flex;
        }

        .navbar_right_dropdown_pic {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }

      .navbar_menu_items {
        font-size: 16px;
        line-height: 22px;
        padding: 8px 0px;
        width: 224px;
        list-style: none;

        .navbar_right_dropdown_inner_text {
          font-size: 16px;
          font-weight: 500;
          padding: 8px 20px;
          cursor: pointer;

          &:hover {
            background-color: var(--grayx2);
          }
        }

        .navbar_right_dropdown_inner_text:last-child {
          margin-bottom: 8px;
        }
      }

      // .navbar_right_dropdown_inner_text {
      //   font-size: 16px;
      //   font-weight: 500;
      //   padding: 8px 20px;
      //   cursor: pointer;

      //   &:hover {
      //     background-color: var(--grayx2);
      //   }
      // }

      // .navbar_right_dropdown_inner_text:last-child {
      //   margin-bottom: 8px;
      // }
    }

    .hr {
      color: grayx3;
      opacity: 0.1;
      padding: 0 10px !important;
    }

    .search_results {
      width: 365px;
    }
  }
}
