.home {
  // width: 692px;

  // max-width: 692px;
  padding: 24px 0;
  position: relative;

  .main__container {
    // display: flex;
    // flex-direction: column;

    .recommend__list__item__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 20px 0;
      position: relative;
      max-width: 692px;

      .avatar-author {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }

      .content__container {
        margin-left: 12px;

        // flex: 1 1 624px;

        .text__info__container {
          display: flex;

          .text__info {
            inline-size: 500px;
            overflow: hidden;

            .author__container {
              .username__author {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                display: inline-block;
                margin-right: 4px;
              }

              .name__author {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                display: inline-block;
                line-height: 28px;
                margin-left: 4px;
              }
            }
          }

          .button__follow__author {
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            color: rgba(254, 44, 85, 1);
            border-color: rgba(254, 44, 85, 1);
            background-color: rgba(255, 255, 255, 1);
            min-width: 106px;
            min-height: 28px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            font-family: ProximaNova, PingFangSC, sans-serif;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 6px 8px;
            cursor: pointer;
            right: 0;
            position: absolute;
            top: 28px;
            min-width: 88px;
            padding: 0 10px;
          }

          .video__desc__text {
          }

          .video__music {
            //
          }
        }

        .video__wrapper {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin-top: 10px;

          .video__card {
            video {
              border-radius: 10px;
              width: 290px;
            }
          }

          .action__items {
            border: none;
            background: none;
            outline: none;
            padding: 0;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            flex-direction: column;
            margin-left: 10px;

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              padding: 10px;
              font-size: 0px;
              border-radius: 50%;
              transition: all ease-in-out 200ms;
              background-color: var(--grayx2);
              margin-top: 8px;
              margin-bottom: 6px;
            }

            .count {
              color: var(--text-gray);
              font-size: 12px;
              line-height: 17px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
