.main_container {
  margin-right: 16px;
  margin-left: 16px;
  width: 692px;
  max-width: 692px;
  padding: 24px 0;
  position: relative;
}

.wrapper {
  display: block;
  margin: 6px auto;
  width: 50px;

  .spinner {
    animation: spinner 1.2s linear infinite;
    font-size: 30px;
    color: brown;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
