.home {
  // width: 692px;

  // max-width: 692px;
  padding: 24px 0;
  position: relative;

  .main_container {
    // display: flex;
    // flex-direction: column;
  }
}

.hr {
  color: grayx3;
  opacity: 0.1;
  margin-bottom: 15px;
  padding: 0 10px !important;
}
