@import "../../assets/sass/mixin.scss";

.navbar {
  width: 100%;
  height: var(--default-layout-navbar-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--white);

  .navbar_wrapper {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .logo {
      position: relative;
    }

    .navbar_right {
      margin: auto 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .upload_icon + div {
        margin-left: 12px;
      }

      .menu_action {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 12px;

        & + a {
          margin-left: 12px;
        }
      }

      .upload_icon {
        margin-right: 12px;
      }

      .dropdown_icon {
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        margin-left: 24px;
      }

      .dropdown_avatar {
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        width: 32px;
        height: 32px;
        margin-left: 12px;
      }
    }

    .hr {
      color: grayx3;
      opacity: 0.1;
      padding: 0 10px !important;
    }
  }
}

button {
  width: max-content;
}

@include w480 {
  .menu_action {
    display: none !important;
  }
}
