.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    margin-top: 60px;
    display: flex;
    width: 100vw;
    max-width: var(--default-layout-width);
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
    gap: 80px;

    .content {
      width: 100%;
      margin: 0 16px;
    }
  }
}
