.sidebar_tabs {
  .sidebar_tab {
    display: flex;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: var(--black);

    &:hover {
      background-color: var(--gray);
    }

    .sidebar_icon {
      font-size: 24px;
    }

    .sidebar_title {
      font-weight: 700;
      line-height: 25px;
      font-size: 18px;
      margin-left: 10px;
    }
  }

  .sidebar_active {
    color: var(--red);
  }
}

.hr {
  color: grayx3;
  opacity: 0.1;
  margin: 15px 0;
  padding: 0 10px !important;
  margin-left: 10px;
}
