@import "../../assets/sass/mixin.scss";


.search_results {
  width: 365px;

  .search_title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-gray);
    font-weight: 600;
    padding: 0 10px;
  }
}

.navbar_search {
  align-items: center;
  padding: 0 16px;
  background: var(--grayx2);
  border-radius: 92px;
  position: relative;
  display: flex;
  caret-color: var(--red);

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }

  .navbar_search_input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    width: 300px;
    padding: 12px 2px;
    padding-right: 40px;

    &:not(:placeholder-shown) ~ .navbar_search_icon {
      color: rgba(22, 24, 35, 0.75);
    }
  }

  .clear,
  .loading {
    position: absolute;
    top: 30%;
    left: 80%;
  }

  .clear {
    color: rgba(22, 24, 35, 0.34);
  }

  .loading {
    animation: spinner 1s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .navbar_search_icon {
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    cursor: pointer;
    background: transparent;
    margin-left: 0;
    color: rgba(22, 24, 35, 0.34);
    font-size: 18px;

    &:hover {
      background: var(--gray);
      border-top-right-radius: 92px;
      border-bottom-right-radius: 92px;
    }
  }

  .navbar_search_line {
    width: 1px;
    height: 28px;
    margin: -3px 0 -3px 0;
    background: var(--grayx3);
  }
}

@include w1100 {
  .navbar_search {
    display: none;
  }
}
