@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

// // Custom scrollbar

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Custom tippy tooltips
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--grayx4);
    color: var(--white);
    padding: 2px 0;
  }

  .tippy-arrow {
    color: var(--grayx4);
  }

  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}

// Dark Theme
.dark {
  * {
    background: #0d1117 !important;
    color: #c9d1d9 !important;
  }
  background: #0d1117 !important;
}

// Custom controls video
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video {
  cursor: pointer;
}
